<div class="relative mx-2 overflow-hidden rounded-lg shadow-xl mt-5">
  <!-- Slides -->
  <div class="relative w-full h-72">
    @for (slide of slides(); track $index) {
      <div
        class="absolute inset-0 transition-opacity duration-700 ease-in-out"
        [ngClass]="{
          'opacity-100': currentIndex() === $index,
          'opacity-0': currentIndex() !== $index
        }"
      >
        <img
          [src]="slide.imageSrc"
          [alt]="slide.altText"
          class="w-full h-full object-cover rounded-lg"
        />
      </div>
    }
  </div>

  <!-- Prev Button -->
  <button
    (click)="prevSlide()"
    class="absolute top-1/2 left-3 -translate-y-1/2 bg-gray-800 bg-opacity-50 text-white p-2 rounded-full hover:bg-opacity-75 z-10"
  >
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
    </svg>
  </button>

  <!-- Next Button -->
  <button
    (click)="nextSlide()"
    class="absolute top-1/2 right-3 -translate-y-1/2 bg-gray-800 bg-opacity-50 text-white p-2 rounded-full hover:bg-opacity-75 z-10"
  >
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
    </svg>
  </button>
  
</div>
